* {
    box-sizing: border-box;
    text-align: center;
    background: #777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    Color: #ebebeb;
}
#box-header{
    width: 960px;
    height: 70px;
    background: white;
    margin-right:  10%;
    margin-left: 10%;
    padding-top: 26px;
}
#box-nav{
    width: 960px;
    height: 70px;
    background: white;
    margin-right:  10%;
    margin-left: 10%;
    padding-top: 26px;  
}
#box-section{
    width: 495px;
    height: 250px;
    background: white; 
    margin-left: 10%;
    margin-right: 90%;
    float: left;
    padding-top: 30px;
}
#box-aside{
    width: 450px;
     height: 250px;
     background: white;
     Position: absolute;
     left: 697px;
     padding-top: 30px;
}
#box-article{
    width: 95%;
    height: 165px;
    background: #777;
    position: relative;
    top: 25px;
    left: 12px;
    padding-top: 15px;
}
#box-h1h2h3{
    width: 90%;
    height: 50px;
    background: white;
    position: relative;
    left: 25px;
    top: 10px;
    padding-top: 16px;
}
#box-p{
    width: 90%;
    height: 50px;
    background: white;
    position: relative;
    left: 25px;
    top: 20px;
    padding-top: 16px;    
}
#box-footer{
    width: 960px;
    height: 70px;
    background-color: white;
    margin-right: 10%;
    margin-left: 10%;
    position: absolute;
    top: 455px;
    padding-top: 26px;
}



